{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Google font-->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
      <!--Bootstrap CSS-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <!--Local CSS stylesheet-->
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <!--Tab title-->
      <title>{% block title%}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100 ">
      <!--Navigation bar-->
      {% include 'partials/nav.html' %}
      <br>
      <br>
      <!--Message alert-->
      {% include 'partials/message.html' %}
      <!--Main conent-->
      {% block content %}{% endblock content %}
      <!--Accordion table-->
      {% block accordion %}{% endblock accordion %}
      <!--Footer-->
      {% include 'partials/footer.html' %}
      <!--Modals-->
      {% include 'partials/modal.html' %}
      <script src="{% static 'js/base.js' %}"></script>
      <!--Bootstrap script-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <!--Fontawesome script-->
      <script src="https://kit.fontawesome.com/a8eff56f0b.js" crossorigin="anonymous"></script>
      <!--Ajax script-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>
