<!-- Modal -->
<div class="modal modal-lg fade" id="help-modal" tabindex="-1" aria-labelledby="help-modal-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="help-modal-title">How To Use The Packing Calculator</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Navigation</h3>
            <h4>Plan Detail Page</h4>
            <p>Clicking 
                <strong>
                Packing Calculator
                </strong> in the left corner takes you to the information for the current 
                <strong>
                    active
                </strong> 
                week provided you are 
                <a href="{% url 'account_login' %}">
                    logged in.
                </a>
            </p>
            <p>
                The same information can be accessed for other plans by clicking view on the desired plan in the 
                <a href="{% url 'search-plans' %}">plan search page</a>.
            </p>
            <p>This page contains all relevant reports for the week plan.</p>
            <h4>Other Links</h4>
            <p>The other links on the left of the navigation bar take you to their respective search pages.</p>
            <p>In order to create, edit, or delete Plans, Products, Runs or Packaging Configurations from their respective search pages.</p>
            <h3>Plan Creation Instructions</h3>
            <p>
                <p>Plans are made up of Runs, Runs are made up of Products and Products need a Packing Configuration.</p>
                <ol>
                    <li><a href="{% url 'packaging-create' %}">Create</a> a Packing Configuration</li>
                    <li><a href="{% url 'product-create' %}">Create</a> a Product, assigning the relevant Packing Configuration</li>
                    <li><a href="{% url 'run-create' %}">Create</a> a Run, assigning a product to the Run</li>
                    <li><a href="{% url 'plan-create' %}">Create</a> a Week Plan</li>
                    <li>Click Add Run on the Plan Detail Page</li>
                    <li>Add as many pre-created Runs as required to the Plan</li>
                </ol>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>