<nav class="navbar navbar-expand-lg" style="background-color: #FF0000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Packing Calc</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard'%}">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Plans
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'plan-list' %}"> Plan List</a></li>
              <li><a class="dropdown-item" href="{% url 'plan-create' %}"> Create New Plan</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Finished Product
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'product-list' %}">View Finished Products</a></li>
              <li><a class="dropdown-item" href="{% url 'product-create' %}">Create Finished Product</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Packaging
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'packaging-list' %}">View Packaging Configs</a></li>
              <li><a class="dropdown-item" href="{% url 'packaging-create' %}">Create Packaging Config</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Runs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'run-list' %}">View All Runs</a></li>
              <li><a class="dropdown-item" href="{% url 'run-create' %}">Create Run</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Packing Runs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'packing-run-list' %}">View Packing Runs</a></li>
              <li><a class="dropdown-item" href="{% url 'packing-run-create' %}">Create Packing-Run</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>