{% extends '../partials/base.html' %}

{% block title %} Packing Run List {% endblock title %}

{% block content %}
<!-- Table Headers -->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <p><strong>Name</strong></p>
        </div>
        <div class="col">
            <p><strong>Week</strong></p>
        </div>
        <div class="col">
            <p><strong>Team</strong></p>
        </div>
        <div class="col">
            <p><strong>Day</strong></p>
        </div>
        <div class="col">
            <p><strong>Time (minutes)</strong></p>
        </div>
        <div class="col">
            <p><strong>Complete?</strong></p>
        </div>
        <div class="col">
            <p></p>
        </div>
        <div class="col">
            <p></p>
        </div>
    </div>
    <!-- Table Content -->
    {% for object in object_list %}
        <div class="row">
            <div class="col">
                <p>{{ object.name }}</p>
            </div>
            <div class="col">
                <p>{{ object.week }}</p>
            </div>
            <div class="col">
                <p>{{ object.team }}</p>
            </div>
            <div class="col">
                <p>{{ object.day }}</p>
            </div>
            <div class="col">
                <p>{{ object.time }}</p>
            </div>
            <div class="col">
                <p>{{ object.complete }}</p>
            </div>
            <div class="col">
                <a href="{% url 'packing-run-update' object.id %}" class="btn btn-outlin-primary">Edit</a>
            </div>
            <div class="col">
                <a href="{% url 'packing-run-delete' object.id %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
    <br><br><br>
    <div class="row"><a class="btn btn-success col-4 mx-auto" href="{% url 'packing-run-create' %}"> Add Run To Plan </a></div>
</div>
{% endblock content %}