{% extends '../partials/base.html' %}

{% block title %} Product List {% endblock title %}

{% block content %}
<!-- Table Headers -->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <p><strong>Product</strong></p>
        </div>
        <div class="col">
            <p><strong>Customer</strong></p>
        </div>
        <div class="col">
            <p><strong>Packaging</strong></p>
        </div>
        <div class="col">
            <p><strong>Pieces Per Tray</strong></p>
        </div>
        <div class="col">
            <p><strong>Pack Size</strong></p>
        </div>
        <div class="col">
            <p><strong>Pieces Per Case</strong></p>
        </div>
        <div class="col">
            <p><strong></strong></p>
        </div>
        <div class="col">
            <p><strong></strong></p>
        </div>
    </div>
    <!-- Table Content -->
    {% for object in object_list %}
        <div class="row">
            <div class="col">
                <p>{{ object.name }}</p>
            </div>
            <div class="col">
                <p>{{ object.customer }}</p>
            </div>
            <div class="col">
                <p>{{ object.packaging }}</p>
            </div>
            <div class="col">
                <p>{{ object.ppt }}</p>
            </div>
            <div class="col">
                <p>{{ object.pack_sz }}</p>
            </div>
            <div class="col">
                <p>{{ object.ppc }}</p>
            </div>
            <div class="col">
                <a href="{% url 'product-update' object.id %}" class="btn btn-outline-primary">Edit</a>
            </div>
            <div class="col">
                <a href="{% url 'product-delete' object.id %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
    <br><br><br>
    <div class="row"><a class="btn btn-success col-4 mx-auto" href="{% url 'product-create' %}"> Create New Product </a></div>
</div>
{% endblock content %}