{% extends '../base.html' %}

{% block title %} Run List {% endblock title %}

{% block content %}
<!-- Table Headers -->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <p><strong>Name</strong></p>
        </div>
        <div class="col">
            <p><strong>Case Quantity</strong></p>
        </div>
        <div class="col">
            <p><strong>Product</strong></p>
        </div>
    </div>
    <!-- Table Content -->
    {% for object in object_list %}
        <div class="row">
            <div class="col">
                <p>{{ object.name }}</p>
            </div>
            <div class="col">
                <p>{{ object.case_qty }}</p>
            </div>
            <div class="col">
                <p>{{ object.product }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}