{% extends '../partials/base.html'%}

{% block title %}Plan Detail | {{ week }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            <h2>{{ week.name }} | {{ week.start_date }} | {{ week.get_status_display }}</h2>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
                Week Planned Runs
            </div>
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Cases Required</th>
                        <th>Team</th>
                        <th>Day</th>
                        <th>Estimated Time (minutes)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run in runs %}
                    <tr>
                        <td>{{ run.name.product }}</td>
                        <td>{{ run.name.case_qty }}</td>
                        <td>{{ run.team }}</td>
                        <td>{{ run.get_day_display }}</td>
                        <td>{{ run.time }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<br>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  
  <!-- Create Run button -->
  <button id="run" class="btn btn-primary" type="button" name="button">Create New Run</button>
    <script type="text/javascript">
        $(function() {

            $("#run").modalForm({
                formURL: "{% url 'run-modal' %}"
            });

        });
    </script>

{% endblock content %}