{% extends '../partials/base.html' %}

<!--Tab Title-->
{% block title %}Delete{% endblock title %}

<!--Main form content-->
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header bg-danger text-white text-center">
            <h2>
                <!--Card title-->
                {% block card-header %}{% endblock card-header %}
            </h2>
        </div>
        <div class="card-body text-center">
            <!--Form in the card body-->
            <form action="" method="POST">
                {% csrf_token %}
                {% block card-text %}

                {% endblock card-text %}
                <br>
                <!--Warning flag-->
                <div class="alert alert-danger" role="alert" style="width: 35%; margin: auto;">
                    <i style="font-size: 200%;" class="fa-solid fa-triangle-exclamation"></i><br><br>
                    WARNING: Deleted content cannot be recovered!
                </div>
                <br>
                <!--Buttons spread apart to avoid accidental deletions-->
                <div class="container">
                    <div class="row">
                        <!--Cancel button-->
                        <div class="col-sm">
                            <input type="button" class="btn btn-success btn-lg" value="Cancel"
                                onClick="javascript:history.go(-1);">
                        </div>
                        <!--Delete button-->
                        <div class="col-sm">
                            <input type="submit" value="Delete" class="btn btn-outline-danger btn-lg">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock content %}