{% extends 'delete/delete.html' %}

{% block title %}Delete | Run{% endblock title %}


{% block card-header %}
    <i class="fa-regular fa-trash-can"></i>&nbsp;DELETE:
    <strong>{{object}}&nbsp;</strong>
{% endblock card-header %}
{% block card-text %}
    <br>
    <h5>
        You are about to permanently delete the run
        <strong>{{ object | upper }}</strong>
    </h5>
    <p>Only Delete if you are sure this run will not be required again in a future plan.</p>
{% endblock card-text %}
