html,
body {
    height: 100%;
    max-width: 100%;
}

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

.packaging-table th,
.packaging-table td {
  width: 33%;
}

.active {
  background-color: #FF0000; 
  color: white;
}

.plan-card {
  font-size: 1.5rem;
}
