
<h1>Ooops!</h1>

<h2>
    If you are seeing this message after clicking 'Live Plan' 
    then is most likely linked to the 'Current' status of one 
    or more week plans, please contact Admin.
</h2>
<p>
    SUSPECTED ISSUE: One plan MUST be set to 'Current' but ONLY ONE or the 'Live Plan' link will not work.
</p>
<p>
    TEMPORARY FIX: If you cannot contact Admin, click 'View' on the relevant plan to see the same page.
</p>

<p>Go&nbsp;<a href="{% url 'home' %}">Home</a> or click back for previous page</p>
