{% extends 'search/search-index.html' %}

<!--Tab title-->
{% block title %}Search | Week Plans{% endblock title %}

<!--Active page class insert-->
{% block plan-style %}active{% endblock plan-style %}

<!--Template specific content-->
{% block search-plan %}
<br><br>
<!--Search bar section-->
<div class="container border-0">
    <div class="card border-0">
        <form class="d-flex">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search for week plan..." aria-label="search"
                name="search-query">
            <button class="btn btn-primary" type="submit">Search</button>&nbsp;
            <button class="btn btn-secondary">Clear</button>
        </form>
    </div>
</div>
<br><br>
<!-- Warning Alert - only one plan can be set to current -->
{% if perms.packing.edit_week %}
<div class="container text-center">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <h5>
            <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
            Only one plan can be set to 'Current' status at any given time.
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <br>
        <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
            More Info
        </button>
        <br>
        <div class="collapse alert alert-secondary border-0" id="collapseHelp">
            <div class="card card-body alert alert-secondary border-0" style="width: 50%; margin: auto;">
               <h6>
                    For the 'Live Plan' nav-link to work there MUST be a plan with status set to 
                    'Current' but ONLY ONE.&nbsp;None or more than one will cause an error.
               </h6>
               <br>
               <div>
                    <strong>How To Change Plan Status</strong>
                    <ol class="plan-alert-list">
                        <li>Find existing 'Current' Plan</li>
                        <li>Click the 'Edit' Button</li>
                        <li>Change the status to 'Complete' and click 'Update'.</li>
                        <li>Follow the same steps for the desired new 'Current' plan, setting status to 'Current'</li>
                        <li><strong><u>If you have no plan set to 'Current' the 'Live Plan' link will not work.</u></strong></li>
                    </ol>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
                        Less Info
                    </button>
               </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--Container holding all item cards-->
<div class="container text-center">
    <div class="card">
        <div class="card-header">
            <!--Create plan button displaying for users with appropriate permissions-->
            {% if perms.packing.create_week %}
                <a class="btn btn-success mx-auto" href="{% url 'plan-create' %}"> Create New Plan </a>
            {% else %}
                <!--If user does not have permission they see this title instead of button-->
                <h5 class="text-center">Browse existing plans below or search for specific above...</h5>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!--Data loop-->
                {% for week in queryset %}
                    <!--Cards generated for each record existing in the database-->
                    <div class="col plan-card">
                        <br>
                        <!--Card border colours change depending on the status of the plan-->
                        {% if week.get_status_display == 'Current' %}
                            <div class="card border-primary">
                        {% elif week.get_status_display == 'Planning' %}
                            <div class="card border-warning">
                        {% elif week.get_status_display == 'Delete' %}
                            <div class="card border-danger">
                        {% else %}
                            <div class="card border-dark">
                        {% endif %}
                            <div class="card-header">
                                <h5 class="mx-auto"><strong>{{ week.name }}</strong></h5>
                            </div>
                            <!--Card body colours change depending on the status of the plan-->
                            {% if week.get_status_display == 'Current' %}
                                <div class="card-body border-primary">
                            {% elif week.get_status_display == 'Planning' %}
                                <div class="card-body border-warning">
                            {% elif week.get_status_display == 'Delete' %}
                                <div class="card-body border-danger">
                            {% else %}
                                <div class="card-body outline-dark">
                            {% endif %}
                                    {% if week.get_status_display == 'Delete' %}
                                        <p><span class="badge text-bg-danger">Inactive: To Be Deleted.</span></p>
                                    {% else %}
                                        <p><span class="badge text-bg-light">Week Start Date</span> | <span
                                                class="badge text-bg-dark">{{ week.start_date | date:"d M Y" }}</span></p>
                                    {% endif %}
                                    <!--Badge colours change depending on status of the plan-->
                                    {% if week.get_status_display == 'Current' %}
                                        <p><span class="badge text-bg-primary">Status</span> | <span
                                            class="badge text-bg-primary">{{ week.get_status_display }}</span></p>
                                    {% elif week.get_status_display == 'Planning' %}
                                        <p><span class="badge text-bg-warning">Status</span> | <span
                                            class="badge text-bg-warning">{{ week.get_status_display }}</span></p>
                                    {% elif week.get_status_display == 'Delete' %}
                                        <p><span class="badge text-bg-danger">Status</span> | <span
                                            class="badge text-bg-danger">{{ week.get_status_display }}</span></p>
                                    {% else %}
                                        <p><span class="badge text-bg-secondary">Status</span> | <span
                                            class="badge text-bg-secondary">{{ week.get_status_display }}</span></p>
                                    {% endif %}
                            </div>
                            <div class="card-footer">
                                <!--View plan button visible to all users-->
                                {% if week.get_status_display != 'Delete' %}
                                    <a class="btn btn-outline-success" href="{% url 'plan-detail' week.id %}"><i
                                        class="fa-solid fa-eye"></i>&nbsp;View</a>
                                {% endif %}
                                <!--Edit plan button visibile only to users with appropriate permission-->
                                {% if perms.packing.edit_week %}
                                    <a class="btn btn-outline-primary" href="{% url 'plan-update' week.id %}"><i
                                        class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                                {% endif %}
                                {% if perms.packing.delete_week %}
                                    <!--Delete button-->
                                    <a class="btn btn-outline-danger" href="{% url 'plan-delete' week.id %}"><i
                                        class="fa-regular fa-trash-can"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                {% empty %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <p>Your Search came back empty ... Try searching for a term in the item title</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock search-plan %}