{% extends 'search/search-index.html' %}

<!--Tab title-->
{% block title %}Search | Packaging Configs{% endblock title %}

<!--Active page class insert-->
{% block packaging-style %}active{% endblock packaging-style %}

<!--Template specific content-->
{% block search-packaging %}
<br><br>

<!--Search bar section-->
<div class="container border-0">
    <div class="card border-0">
        <form class="d-flex">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search for a packing config..."
                aria-label="search" name="search-query">
            <button class="btn btn-primary" type="submit">Search</button>&nbsp;
            <button class="btn btn-secondary">Clear</button>
        </form>
    </div>
</div>
<br><br>

<!--Container holding all item cards-->
<div class="container text-center">
    <div class="card">
        <div class="card-header">
            <!--Create packing config button displaying for users with appropriate permissions-->
            {% if perms.packing.create_packaging %}
                <a class="btn btn-success mx-auto" href="{% url 'packaging-create' %}"> Create New Packaging Config </a>
            {% else %}
            <!--If user does not have permission they see this title instead of button-->
                <h5 class="text-center">Browse all existing Packing Configurations below or search for specific above...</h5>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!--Data loop-->
                {% for pack in queryset %}
                    <!--Cards generated for each record existing in the database-->
                    <div class="col">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mx-auto">{{ pack.name }}</h5>
                            </div>
                            <div class="card-body">
                                <p><span class="badge text-bg-warning">Film</span> | <strong>{{ pack.film }}</strong></p>
                                <p><span class="badge text-bg-warning">Inner</span> | <strong>{{ pack.inner }}</strong></p>
                                <p><span class="badge text-bg-warning">SRP</span> | <strong>{{ pack.srp }}</strong></p>
                                <p><span class="badge text-bg-warning">Outer</span> | <strong>{{ pack.outer }}</strong></p>
                            </div>
                            <div class="card-footer">
                                <!--Edit and delete buttons, only displayed if user has appropriate permission-->
                                {% if perms.packing.edit_packaging %}
                                    <!--Edit button-->
                                    <a class="btn btn-outline-primary" href="{% url 'packaging-update' pack.id%}"><i
                                        class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
                                {% endif %}
                                {% if perms.packing.delete_pack %}
                                    <!--Delete button-->
                                    <a class="btn btn-outline-danger" href="{% url 'packaging-delete' pack.id %}"><i
                                        class="fa-regular fa-trash-can"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                {% empty %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <p>Your Search came back empty ... Try searching for a term in the item title</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock search-packaging %}