{% extends '../partials/base.html' %}

<!--Crispy Forms!-->
{% load crispy_forms_tags %}

<!--Tab title-->
{% block title %}Edit{% endblock title %}

<!--Main content-->
{% block content %}
<div class="container">
    <div class="card border-0">
        <div class="card-header">
            <!--Card title-->
            <h3>{% block card-header %}Edit{% endblock card-header %}</h3>
        </div>
        <div class="card-body">
            <!--Form within the card body-->
            <form method="POST">

                {% csrf_token %}

                {{ form.non_form_errors }}

                {% for field in form %}
                {{ field.errors }}
                {{ field | as_crispy_field }}
                {% endfor %}
                <br>
                <!--Buttons-->
                <input type="submit" value="Update" class="btn btn-success">
                <input type="button" class="btn btn-secondary" value="Cancel" onClick="javascript:history.go(-1);">
            </form>
        </div>
    </div>
</div>
{% endblock content %}