{% extends '../partials/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
                View Reports for the Current Week:
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-teams' %}">
                            <div class="card my-card shadow text-center p-3">
                                <h4>Packing Teams <i class="fa-solid fa-people-group"></i></h4>
                                <h3></h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-plans' %}">
                            <div class="card my-card shadow text-center p-3">
                                <h4>Packing Plan <i class="fa-regular fa-calendar-days"></i></h4>
                                <h3></h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'dashboard-packaging' %}">
                            <div class="card my-card shadow text-center p-3">
                                <h4>Packaging Required <i class="fa-solid fa-boxes-packing"></i></h4>
                                <h3></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% block search %}{% endblock search %}
    {% block table %}{% endblock table %}
    <br>
    <br>
    {% block table2 %}{% endblock table2 %}
    <br>
    <br>
    {% block table3 %}{% endblock table3 %}
    <br>
    <br>
{% endblock content %}

