{% extends 'dashboard/db-index.html' %}
{% block table %}    
    <div class="container">
        <table class=" table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Customer</th>
                    <th>Day</th>
                    <th>Cases Required</th>
                    <th>Trays To Pack</th>
                    <th>Time</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for item in packing_week %}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ item.name.product.customer }}</td>
                            <td>{{ item.day }}</td>
                            <td>{{ item.name.case_qty }}</td>
                            <td>{{ item.day }}</td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
{% endblock table %}