{% extends 'dashboard/db-index.html' %}
{% block table %}    

<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            Plan Daily Breakdown
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Saturday
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in sat %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.name.case_qty}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Monday
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in mon %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.name.case_qty}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Tuesday
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in tue %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.name.case_qty}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Wednesday
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in wed %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.name.case_qty}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Thursday
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in thu %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.name.case_qty}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Friday
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in fri %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.name.case_qty}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock table %}
