{% extends 'dashboard/db-index.html' %}
{% block table %}    

<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            Packaging Required Per Day
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card my-card shadow text-center p-3">
                    <div class="card-header bg-dark text-white text-center">
                        Saturday
                    </div>
                    <table class=" table table-striped">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Required</th>
                                <th>Inner</th>
                                <th>Required</th>
                                <th>SRP</th>
                                <th>Required</th>
                                <th>Outer</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in sat %}
                                <tr>
                                    <td>{{ pack.name.product.packaging.film }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.inner }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.srp }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.outer }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="card my-card shadow text-center p-3">
                    <div class="card-header bg-dark text-white text-center">
                        Monday
                    </div>
                    <table class=" table table-striped">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Required</th>
                                <th>Inner</th>
                                <th>Required</th>
                                <th>SRP</th>
                                <th>Required</th>
                                <th>Outer</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in mon %}
                                <tr>
                                    <td>{{ pack.name.product.packaging.film }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.inner }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.srp }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.outer }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="card my-card shadow text-center p-3">
                    <div class="card-header bg-dark text-white text-center">
                        Tuesday
                    </div>
                    <table class=" table table-striped">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Required</th>
                                <th>Inner</th>
                                <th>Required</th>
                                <th>SRP</th>
                                <th>Required</th>
                                <th>Outer</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in tue %}
                                <tr>
                                    <td>{{ pack.name.product.packaging.film }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.inner }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.srp }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.outer }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="card my-card shadow text-center p-3">
                    <div class="card-header bg-dark text-white text-center">
                        Wednesday
                    </div>
                    <table class=" table table-striped">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Required</th>
                                <th>Inner</th>
                                <th>Required</th>
                                <th>SRP</th>
                                <th>Required</th>
                                <th>Outer</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in wed %}
                                <tr>
                                    <td>{{ pack.name.product.packaging.film }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.inner }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.srp }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.outer }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="card my-card shadow text-center p-3">
                    <div class="card-header bg-dark text-white text-center">
                        Thursday
                    </div>
                    <table class=" table table-striped">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Required</th>
                                <th>Inner</th>
                                <th>Required</th>
                                <th>SRP</th>
                                <th>Required</th>
                                <th>Outer</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in thu %}
                                <tr>
                                    <td>{{ pack.name.product.packaging.film }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.inner }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.srp }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.outer }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="card my-card shadow text-center p-3">
                    <div class="card-header bg-dark text-white text-center">
                        Friday
                    </div>
                    <table class=" table table-striped">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Required</th>
                                <th>Inner</th>
                                <th>Required</th>
                                <th>SRP</th>
                                <th>Required</th>
                                <th>Outer</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pack in fri %}
                                <tr>
                                    <td>{{ pack.name.product.packaging.film }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.inner }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.srp }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                    <td>{{ pack.name.product.packaging.outer }}</td>
                                    <td>{{ pack.name.case_qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock table %}