{% extends 'dashboard/db-index.html' %}

{% block search %}

    <div class="container">
        <div class="card">
            <form  class="d-flex" action="" action="" >
                {% csrf_token %}
                <input class="form-control me-2" type="search"
                placeholder="Search for Week..." aria-label="search"
                name="search-query">
                <button class="btn btn-outline-secondary" type="submit">Search</button>

            </form>
        </div>
    </div>
    <div class="container">
        <div class="card">
            {% for week in queryset %}
            <br>
                <div class="row mx-auto">{{ week.name }}</div>
                <br>
                <a class="btn btn-outline-secondary col-3 mx-auto" href="{% url 'plan-detail' week.id %}">View</a>
            <br>
            {% endfor %}
            <div class="row">
            </div>
            <div class="row"><a class="btn btn-success col-6 mx-auto" href="{% url 'plan-create' %}"> Create New Plan </a></div>
            <br>
            <br>
        </div>
    </div>
    
{% endblock search %}