{% extends 'dashboard/db-index.html' %}
{% block table %}    
<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            Team Weekly Minutes
        </div>
        <table class=" table table-striped">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Saturday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thurday</th>
                    <th>Friday</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock table %}

{% comment %} {% block table2 %}
<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            Packing Team Product Breakdown
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Team 1
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Day</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in t1 %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.get_day_display }}</td>
                                        <td>{{ run.name.case_qty }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Team 2
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Day</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in t2 %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.get_day_display }}</td>
                                        <td>{{ run.name.case_qty }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Team 3
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Day</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in t3 %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.get_day_display }}</td>
                                        <td>{{ run.name.case_qty }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card my-card shadow text-center p-3">
                        <div class="card-header bg-dark text-white text-center">
                            Twilight
                        </div>
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Day</th>
                                    <th>Cases</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for run in t4 %}
                                    <tr>
                                        <td>{{ run.name.product }}</td>
                                        <td>{{ run.get_day_display }}</td>
                                        <td>{{ run.name.case_qty }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
{% endblock table2 %} {% endcomment %}